# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# IDE
.vscode
*.code-workspace

# dependencies
*/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
*/coverage

# next.js
.next/
out/

# production
/build

# misc and Agents
.DS_Store
*.pem
CLAUDE.md
AGENTS.md

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
*/.env*
*/.env
*/.env.*
!*/.env.example

# vercel
.vercel

# typescript
*.tsbuildinfo

# backend
*/dist
*/bundle
*/artifacts
*/cache
*/*-types
*/.gas-snapshot
*/snapshots
