@import "tailwindcss";

:root {
  --background: #D9D9D9;
  --foreground: #171717;
  --secondary: #BCBCBC;
  --accent: #A2A2A2;
  --textbox: #5C5C5C;
  --approve: #a0ff48;
  --reject: #FF0000; 
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-textbox: var(--textbox);
  --color-approve: var(--approve);
  --color-reject: var(--reject);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #D9D9D9;
    --foreground: #171717;
    --secondary: #BCBCBC;
    --accent: #A2A2A2;
    --textbox: #5C5C5C;
    --approve: #00FF00;
    --reject: #FF0000; 
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.Active{
  color: greenyellow;
  text-shadow: 1px 1px 3px #171717;
}

.Pending{
  color: orange;
  text-shadow: 1px 1px 3px #171717;
}

.Revoked{
  color: red;
  text-shadow: 1px 1px 3px #171717;
}

.Expired{
  color: darkred;
  text-shadow: 1px 1px 3px #171717;
}